# Global directories

# Global files
*.py[cod]
*.dll
*.so
*.log
*.swp

# Cache
.ruff_cache/
.cache/
__pycache__/

# Site
/backend/dist/
/dist/
/site/

# Dev
/.benchmarks/
/.venv/
/.env/
/.idea/
/.mypy_cache/
/.pytest_cache/
/.vscode/
/.coverage*
